{% extends "grgrApp/base_app.html" %}
{% block content %}
<h2>Summary</h2>
<form action="{% url 'summary' %}" method="POST" id="id_summary_form">
    {{ form.non_field_errors }}

        <div id="div_image_sum">
            <h3>Summary pavement</h3>
            <br>
            <img id="id_imgSummary" class="imagesum" src="/static/grgrApp/figures/ditchtype/5.jpg" />
        </div>
        <div id="div_fields_1">
            {% for field in form %}
                {% if field.label == 'Type of paving (h1)' or field.label == 'Bedding layer (h2)' or field.label == 'Unbound base layer (h3)' or field.label == 'Sub base layer (h4)' or field.label == 'Thickness in sub base layer available for storm water detention (h4a)' or field.label == 'Position draining pipe (h4b)' or field.label == 'Distance to ground water level (h5)' %}
                    <li>{{field.label_tag}} {{field}}</li>
                {% endif %}
            {% endfor %}
        </div>

        <div id="div_fields_2">
             {% for field in form %}
                {% if field.label == 'Traffic class' or field.label == 'Prepared subgrade material' or field.label == 'Climatic zone' or field.label == 'Frost suceptibility class' or field.label == 'Design duration rain fall' or field.label == 'Design intensity rain fall' or field.label == 'Available volume for storm water retention' or field.label == 'Required volume for storm water retention' %}
                    <li>{{field.label_tag}}{{field}}</li>
                {% endif %}
                {% if field.label == 'Veredict 1' %}
                    <li>{{ field }} </li>
                {% endif %}
            {% endfor %}
        </div>
        <div id="div_image_sum_2">
            <h3>Summary storm water construction</h3>
            {% if form.sum_construction_type.value == "Biofilter with plants" %}
                <li>{{form.sum_construction_type}}</li>
                <img id="id_imgConsttype" class="imagesum" src="/static/grgrApp/figures/construction/1.png" />
            {% endif %}
            {% if form.sum_construction_type.value == "Biofilter with tree" %}
                <li>{{form.sum_construction_type}}</li>
                <img id="id_imgConsttype" class="imagesum" src="/static/grgrApp/figures/construction/1.png" />
            {% endif %}
            {% if form.sum_construction_type.value == "Infiltration ditch with macadam" %}
                <li>{{form.sum_construction_type}}</li>
                <img id="id_imgConsttype" class="imagesum" src="/static/grgrApp/figures/construction/1.png" />
            {% endif %}
            {% if form.sum_construction_type.value == "Open ditch" %}
                <li>{{form.sum_construction_type}}</li>
                <img id="id_imgConsttype" class="imagesum" src="/static/grgrApp/figures/construction/1.png" />
            {% endif %}
        </div>
        <div id="div_fields_3">
            <br><br>
            {% for field in form %}
                {% if field.label == 'Height open volume (h7)' or field.label == 'Distance to overflow gully (h7b)' or field.label == 'Thickness vegetation layer (h8)' or field.label == 'Thickness coarse sand (h9)' or field.label == 'Thickness coarse aggregate 2/6 (h10)' or field.label == 'Thickness coarse aggregate 4/16 (h11)' or field.label == 'Thickness coarse aggregate 16/32 (h12)' or field.label == 'Thickness skeletal soil (h13)' or field.label == 'Depth draining pipe (h15)' or field.label == 'Ground water level (h14)' %}
                    <li>{{field.label_tag}}{{field}}</li>
                {% endif %}
            {% endfor %}
        </div>
        <div id="div_fields_4">
            {% for field in form %}
                {% if field.label == 'Design duration rain fall (ditch)' or field.label == 'Design intensity rain fall (ditch)' or field.label == 'Available volume for storm water retention (ditch)' or field.label == 'Required volume for storm water retention (ditch)' %}
                    <li>{{field.label_tag}}{{field}}</li>
                {% endif %}
                {% if field.label == 'Veredict 2' %}
                    <li>{{ field }} </li>
                {% endif %}
            {% endfor %}
        </div>

    {% csrf_token %}
    <ul>
        <li><span class='back'><a href="{% url 'stormwater' %}"><input type="button" class='button' value="<-- Back" /></a></span><span class='next'><input type="submit" class='button' value="Next -->"  /></span></li>
    </ul>
</form>
{% endblock %}